const CACHE_NAME = 'booklist-v1';
const urlsToCache = [
  'static/js/bundle.js',
  'static/js/0.chunk.js',
  'static/js/main.chunk.js',
  'favicon.ico',
  'offline.html'
];

self.addEventListener('install', function(event) {
  event.waitUntil(
    caches.open(CACHE_NAME)
      .then(function(cache) {
        return cache.addAll(urlsToCache);
      })
  );
});