document.addEventListener('DOMContentLoaded', () => {
    if ('serviceWorker' in navigator && 'PushManager' in window) {
      navigator.serviceWorker.register('./firebase-messaging-sw.js')
        .then(function (registration) {
            firebase.messaging().useServiceWorker(registration);
            firebase.messaging().usePublicVapidKey(KEY);
            that.initializePush();
            console.log('Service worker is registered!');
        })
        .catch(function (error) {
            console.log('Service worker registration failed: ', error.message);
        });
    } else {
        this.setState({
            notSupported: true,
        });
    }
});