const unsubscribeUser = async () => {
  const deletedStatus = await firebase.messaging().deleteToken(userToken)
    .then(async () => {
      return await firebase.firestore().collection('device_ids').doc(userToken).delete().then(() => {
        console.log('Successfully deleted ' + userToken);
        return Promise.resolve({success: true});
      });
    })
    .catch(error => console.log('error unsubscribing: ', error));

    if (deletedStatus) {
      setIsSubscribed(false);
      setUserToken(null);
      localStorage.removeItem('pushNotificationsKey');
    }
};